@charset "utf-8";
// ===================================================================
// setting.css 設定
// ===================================================================

// ベースフォント
$base-font: 'ヒラギノ丸ゴ ProN W4','HIRAGINO Maru Gothic ProN';
$base-font-ie: 'ＭＳ Ｐゴシック', 'Lato', Sans-Serif; //IE用
$button-font: 'Helvetica Neue', arial, sans-serif;
$sub-font: 'PT Sans', sans-serif;

//カラー
$primary-color: #000; //メインカラー
$secondary-color: #000; //サブカラー
$accent-color: #000; //アクセントカラー

// エラーカラー
$error-color: #d76666;

// 付与するベンダープレフィックス
$set-prefix: -webkit-, -moz-, -ms-, -o-, '';

// ページ全体の横幅
// $width: 1040px;

//要素の基本下マージン
$base-margin-bottom: 15px;

//基本durationの時間
$base-duration: 500ms;

/*--------------------------------------------------------
	メディアクエリの設定
---------------------------------------------------------*/
// min-width
$breakpoint-up: (
	'sm': 'screen and (min-width: 768px)',
	'md': 'screen and (min-width: 1024px)',
	'lg': 'screen and (min-width: 1112px)',
	'xl': 'screen and (min-width: 1366px)',
	'xxl': 'screen and (min-width: 1920px)',
) !default;

// max-width
$breakpoint-down: (
	'sm': 'screen and (max-width: 767px)',
	'md': 'screen and (max-width: 1023px)',
	'lg': 'screen and (max-width: 1111px)',
	'xl': 'screen and (max-width: 1365px)',
	'xxl': 'screen and (min-width: 1919px)',
) !default;
