@charset "utf-8";

//font
$base-font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
$base-font-size: 16px;

//size
$inner-width: 1080px;

//color
$base-text-color: #333;
$base-anchor-color: #333;
$base-anchor-hover-color: #333;

//breakpoint
$breakpoint: 639px;
